html.full-height {
    height: 100%;
}
  
body {
    margin: 0;
    height: 100%;
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 30, 116, 1) 39%,
      rgba(0, 43, 185, 1) 100%
    );
}
  
.header h1 {
    color: rgb(252, 255, 79);
}
  
.form {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
  
.form input {
    width: 300px;
    height: 30px;
    margin: 10px;
    opacity: 50%;;
    border-style: solid;
    border-radius: 8px;
    color: rgb(0, 0, 0);
}

.titles {
    color: rgb(192, 192, 192);
}
  