.button {
    width: 130px;
    height: 30px;
    padding: 3px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-style: solid;
    border-radius: 4px;
    border: none;
    color: #313250;
    font-size: 15px;
    font-weight: 350;
    background-color: #f8b179;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    box-shadow: 0 0 10px #f8b0797a;
  }
  .button:active {
    transform: translateY(1px);
  }

.iconebotao{
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-left: 8px;
}
  