html.full-height {
    height: 100%;
}
  
body {
    margin: 0;
    height: 100%;
    text-align: center;
    background-color: #313250;

}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form h2{
  color: aliceblue;
}
.titles {
    color: aliceblue;
    font-size: 20px;
    font-weight: 350;
}
 
.multiSelect {
  width: 500px;
  display: flex;
  flex-direction:row;
  border-radius: 10px;
  border-style: solid;
  margin-top: 10px;
}

.selectColumn{
  flex-grow: 1;
  
  display: flex;
  flex-wrap: nowrap;
  flex-direction:column;
  padding-inline: auto;
}


.checkboxItem{
  color: rgb(187, 187, 187);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction:row;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 10px;
}