.barra{
    width: 400px;
    display: flex;
    align-items:center;
    flex-wrap: nowrap;
    flex-direction:row;
    padding: 0px;
    padding-left: 5px;
    background-color: #65709e;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 3px #aaaaaa85;
    transition: transform 0.3s;
   }
  
  
   .barra:focus-within{
    outline: none;
    box-shadow: 0 0 10px #f8b07985;
    transform: scale(1.01);
   }
  
   .description{
    font-size: 15px;
    font-family: sans-serif;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 3px;
    color: #353535;
   }
  
  .input {
      width: 500px;
      height: 30px;
      margin: 10px;
      opacity: 100%;
      color:aliceblue;
      background-color:#65709e00;
      border:none;
      border-radius: 4px;
      border-width: 1px;
      font-size: 15px;
      font-weight: 350;
      margin:0px;
      margin-top: -7px;
  }
  
  .input::placeholder{
    align-items: center;
    color: #b3b3b3;
    font-style:italic;
    font-size: 12px;
  }
  .input:focus{
    outline: none;
  }